//COLORS
$color-primary: #222127;
$color-primary-transparent: #222127ad;
$color-primary-light: #3e365e;
$color-primary-dark: #1b1925;

$color-secondary: #d8890b;
$color-secondary-light: #dda03e;
$color-secondary-light-transparent: #d8890bb6;
$color-secondary-dark: #af700a;

$color-btn-cta: #e69d28;
$color-btn-cta-dark: #d38d1d;

$color-white: #ffffff;
$color-grey: #cacaca;
$color-black: #0a0a0a;

$color-green: #5fb950;
$color-red: #e91717;

//FONT
$default-font-size: 1.6rem;
$large-font-size: 2rem;
$text-light: #f9f9f9;
