#quienes-somos {
  @include flexCenter();
  width: 100%;
  padding: 5rem 0;

  & .about {
    width: 70%;
    @include flexColumnCenter();
    font-size: $default-font-size;

    @include respond(laptop) {
      width: 90%;
    }

    & .title {
      font-size: $large-font-size;
      position: relative;
      margin-bottom: 10rem;

      @include respond(phone) {
        margin-bottom: 5rem;
      }

      &::after {
        position: absolute;
        content: '';
        bottom: -0.5rem;
        left: 50%;
        width: 12rem;
        height: 0.35rem;
        background-color: $color-primary;
        transform: translateX(-50%);
      }
    }

    & .cards {
      @include flexCenter();
      justify-content: space-between;
      width: 100%;
      max-width: 1000px;

      @include respond(big-desktop) {
        max-width: 1300px;
      }

      @include respond(tab-port) {
        flex-direction: column;

        &--left {
          margin-bottom: 10rem;
          @include respond(phone) {
            margin-bottom: 5rem;
          }
        }
      }

      // for both cards left and right
      & > div {
        @include flexColumnCenter();
        width: 40rem;
        height: 45rem;
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
        transition: all 0.8s ease;

        @include respond(tab-port) {
          margin: 2rem 0;
          width: 60rem;
        }

        @include respond(phone) {
          width: 40rem;
        }

        //to both sides front and back
        & > * {
          transition: all 0.8s ease;
          position: absolute;
          backface-visibility: hidden;
          overflow: hidden;
        }

        // only to card front
        & > *:first-child {
          @include flexColumnCenter();
          height: 100%;
          width: 100%;
          border: 1px solid $color-primary;
          border-radius: 15px;

          & > * {
            padding: 2rem 0;
            font-size: $large-font-size;
            letter-spacing: 1px;
            font-weight: bold;
          }
        }

        // only to card back
        & > *:last-child {
          @include flexColumnCenter();
          line-height: 2.5rem;
          background-color: $color-primary;
          height: 100%;
          padding: 3rem;
          border-radius: 15px;
          transform: rotateY(180deg);

          & p {
            color: $color-white;
            letter-spacing: 0.5px;
            font-size: 15px;

            @include respond(phone) {
              font-size: 10px;
            }
          }
        }

        &:hover .cards__left--front {
          transform: rotateY(-180deg);
        }

        &:hover .cards__left--back {
          transform: rotateY(0deg);
        }

        &:hover .cards__right--front {
          transform: rotateY(-180deg);
        }

        &:hover .cards__right--back {
          transform: rotateY(0deg);
        }
      }
    }
  }
}
