.header {
  width: 100%;
  padding: 5rem;
  padding-right: 0;
  margin-top: 6rem;
  background: radial-gradient(
    74.41% 147.15% at 74.41% 60.94%,
    #222127f2 0%,
    #222127 100%
  );
  color: $text-light;
  display: flex;

  @include respond(phone) {
    flex-direction: column;
    padding: 3rem;
    padding-right: 0;
  }

  &__left {
    width: 35%;
    padding: 2rem;
    padding-bottom: 7rem;
    position: relative;

    @include respond(tab-port) {
      padding-bottom: 5rem;
    }

    @include respond(phone) {
      width: 100%;
    }

    img {
      max-width: 12.5rem;
    }

    a {
      display: inline-block;
    }
  }

  &__right {
    width: 65%;
    position: relative;
    padding-bottom: 7rem;

    @include respond(tab-port) {
      padding-bottom: 5rem;
    }

    @include respond(phone) {
      margin-top: 2rem;
      width: 100%;
    }
  }
}
