.heading-primary {
  color: $text-light;
  backface-visibility: hidden;
  margin: 5rem 0;

  &--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      font-weight: 400;
      letter-spacing: 0.5rem;
    }
  }
}
